html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #3a3846;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quiz {
  background: #dfcf3e;
  width: 30rem;
  padding: 4rem;
text-align: center;
}

h1 {
  color: #285580;
  font-size: 3rem;
  text-align: center;
  padding: 2px 0px;
  border-radius: 50px;
}

#question {
  font-family: sans-serif;
  font-size: 1.7rem;
  color: #1d79ca;
}

.buttons {
  margin-top: 30px;
}

.button {
  background-color: #14a846;
  width: 250px;
  font-size: 20px;
  color: #fff;
  border-radius: .3rem;
  padding: 10px 20px;
  margin: 10px 40px 10px 0px;
}


#progress {
  color: #276e3f;
  font-size: 20px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: #0693ca;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
  outline: 0;
}